<main>
    <h1>Ha nacido una estrella - Relato corto</h1>
    <div class="central">
        <p>]Miguel, de cinco años, pasea de la mano de su padre por la Plaza Mayor de Palma. Como de costumbre, un dulce olor a castañas asadas les envuelve y a Miguel se le hace la boca agua. Es Navidad y hace un frío seco que a Miguel le encanta, porque puede ponerse su gorro de <i>Rayo Mcqueen</i> y entonces corre rapidísimo. Desde una esquina de la plaza suena música y Miguel tiene ganas de bailar.</p><br>

        <p class="dialogo">—¡Papi! ¡Papi! ¿Qué hace ese señor?</p><br>

        <p class="dialogo">—Está tocando un clarinete, Miguel. ¿te gusta? —le dice Carlos a su hijo mientras sonríe.</p><br>

        <p class="dialogo">—¡Mucho, papá! ¡Yo cuando sea mayor quiero tocar el <i>clarenete</i>!</p><br>

        <p class="dialogo">—Clarinete, Miguel, se dice clarinete.</p><br>

        <p>Carlos se detiene unos segundos sintiendo la suave mano de su hijo. El músico callejero está versionando muy bien <i>Part Time Lover</i>, de Stevie Wonder, una de sus canciones favoritas. Le fascina el poder de la música para calmar el alma, para evocar recuerdos. Le viene a la mente el día en que conoció a Elena. Sonaba aquella misma canción. Estaban en un pub y olía a cerveza. El ambiente estaba cargado. Ellos pedían la penúltima cerveza (siempre la penúltima). Se acuerda de sus manos finas, de sus ojos de un azul infinito, del aroma a canela de su cuerpo cuando por fin se besaron, se abrazaron, se amaron…</p><br><br><br>

        <p class="dialogo">—¡Miguel! ¡Vas a llegar tarde al instituto! Deja ya el clarinete, cariño</p><br>

        <p class="dialogo">—¡Ya voy, mamá! Es que ya casi me sale <i>Part Time Lover</i>. Echo de menos a papá.</p><br>

        <p class="dialogo">—Lo sé cariño, yo también le echo mucho de menos.</p><br>

        <p>A Elena se le estaba haciendo difícil seguir adelante. Fue en una revisión rutinaria. Cáncer. Lágrimas calientes, no puede ser, si esto solo les pasa a otras familias. Desolación, dolor sordo en el corazón, frase lapidaria de los médicos: “Lo siento mucho, señora Domínguez, no creemos que dure más de tres meses…”. Finalmente fueron cuatro. Carlos fue el que se mantuvo más entero de los tres: “Cuida de Miguel, cariño. Que no deje de tocar, es un genio”. “Claro, mi amor, te lo prometo”.</p><br><br><br>

        <p class="dialogo">—Hola, Miguel, soy Mauro. ¿Podrías pasarte por el hospital cuando puedas?</p><br>

        <p class="dialogo">—¡Hola, Mauro! Claro, acabo este ensayo con la banda y voy para allá. ¿Pasa algo?</p><br>

        <p class="dialogo">—Tenemos los resultados de la biopsia que te hicimos el otro día, ¿por qué no te pasas por aquí y hablamos tranquilamente?</p><br>

        <p class="dialogo">—Joder, Mauro, me estás asustando, hace veinte años que te conozco y nunca te había visto tan serio.</p><br>

        <p>Pastillas. Náuseas. Carreras al baño con sabor a bilis en la garganta. El frío de las baldosas en las rodillas. Agujas atravesando la piel de Miguel. Gorros de lana fina. Once meses de lucha con Elena siempre a su lado. Lo único que no dejó de hacer fue tocar, porque tocar le mantenía fuerte, le ayudaba a seguir. Por papá.</p><br><br><br>

        <p>El ambiente vibraba. Se respiraba tensión, espera contenida. Miguel estaba nervioso y feliz mientras se preparaba para subir al escenario. 19.000 personas se habían congregado para escucharle tocar. ¿Cómo había llegado a eso? ¿En qué momento? Se le puso la piel de gallina.</p><br>

        <p>Subió al escenario y vio a su madre en primera fila. Llegaron los vítores. Luego se hizo el silencio. Fue mágico, increíble, único. Todos sus miedos le abandonaron, estaba otra vez en la Plaza Mayor de la mano de su padre. Sintió otra vez el olor dulce de las castañas y <i>Part Time Lover </i> empezó a sonar como nunca lo había hecho.</p>
    </div>
</main>