<div class="card" >
    <div class="card-details">
        <div class="boton">
            <button type="button" (click)="closeCard()">X</button>
        </div>
        <div class="imagen"><img src="{{libroPadre.photo}}" alt="" style="width: 100%; border-radius: 10%;"></div>
        <p class="title">{{libroPadre.title}}</p>
        <p class="text-body">{{libroPadre.type}}</p>
        <p class="text-body">{{libroPadre.id_book | refID}}</p>
    </div>
    <a routerLink="" class="card-button" [ngClass]="esPar ? 'par-button' : 'impar-button'">¡Léeme!</a>
  </div>
  
