<main>
    <h1>Nuestros Héroes - Relato corto</h1>
    <div class="central">
        <p class="dialogo">—Papi, me hago caca.</p><br>

        <p class="dialogo">—Ya voy, cariño. Dame un segundito.</p><br>

        <p class="dialogo">—No sé si voy a aguantar, ¡tengo muchísima!</p><br>

        <p>Marcos despegó la cabeza del Excel en el que llevaba cuatro horas intentando hacer magia y miró a su hija. La pequeña, con cara de sueño y despeinada como solo consigue estarlo un niño de tres años por la mañana, se rascaba la barriga por encima del pijama de Peppa Pig y miraba a su padre con unos ojos verdes llenos de súplica.</p><br>

        <p class="dialogo">—Mi amor, no puede ser que te dé tanto miedo ir al baño.</p><br>
        
        <p class="dialogo">—Es que he visto al monstruo de la ducha.</p><br>

        <p class="dialogo">—Anda, venga, vamos a ver a ese monstruo.</p><br>

        <p>La brisa que corría por el pasillo avisaba del calor que iba a hacer ese domingo de junio, aunque todavía se estaba bien. De camino, tocó a la puerta del otro terremoto que tenía por hijo.</p><br>

        <p class="dialogo">—¡Javi! ¡Arriba, a desayunar!</p><br>

        <p>Llegaron al baño. Inspección total. Ves, el monstruo ya no está, Candela, ¿me avisas cuando termines? Claro, papi. Paseo hasta la cocina. Preparar vasos de leche y tostadas. ¡Ya estoy! Vuelta al baño. Venga, yo te ayudo, pero tú también, que tienes que aprender a limpiarte.</p><br>

        <p>Cuando tiraron de la cadena entró Javi corriendo.</p><br>

        <p class="dialogo">—¡Capitán Calzoncillos al ataque!</p><br>

        <p>Un torbellino con forma de niño, y con unos calzoncillos en la cabeza, saltó sobre la espalda de su padre.</p><br>

        <p class="dialogo">—¡Oh, no, el Capitán Calzoncillos! ¡No me ataque, por favor! Yo no he hecho nada. ¡Soy inocente!—dijo Marcos haciendo cosquillas a su hijo. Las risas de los niños, cristalinas y puras, resonaban por toda la casa.</p><br>

        <p>Desayunaron los tres juntos en la cocina. Javi contaba historias sobre croquetas bailongas y Candela se moría de la risa.</p><br>

        <p class="dialogo">—Bueno, chicos, desayuno terminado. En diez minutos salimos de casa. ¡A vestirse ahora mismo!</p><br>

        <p>Fregó los platos y, mientras esperaba a los niños, volvió al Excel. Revisó los números una vez más. Podía funcionar. Tenía que funcionar. Oyó un ruido a su espalda; suspiró, cerró el portátil y se giró. No pudo evitar soltar una carcajada.</p><br>

        <p class="dialogo">—¿Pero qué hacéis así vestidos?</p><br>

        <p class="dialogo">—¡Yo soy el Capitán Calzoncillos!</p><br>

        <p class="dialogo">—¡Y yo la Capitana Braguitas!</p><br>

        <p>Desde el recibidor, sus hijos le contemplaban con cara de orgullo. Javi, el mayor, llevaba puestas las mallas negras con las que practicaba ballet y se había ceñido unos calzoncillos de Bob Esponja a la cabeza. La pequeña no se quedaba atrás: vestía el disfraz de Batman de su hermano y llevaba unas braguitas de Frozen como antifaz.</p><br>

        <p class="dialogo">—Pero, chicos, ¿cómo vamos a ir así a despedirnos de mamá?</p><br>

        <p class="dialogo">—¡A mamá le gustaba el Capitán Calzoncillos!</p><br>

        <p class="dialogo">—Eso es verdad… ¿Por qué no? Venga, ¡Nos vamos así!</p><br>

        <p>Marcos echó una ojeada al precioso salón de la casa, caminó hasta el recibidor y cogió la bolsa de tela grande que había sobre el mueble de la entrada. Joder, cómo pesa. Se subieron al Renault ZOE de Clara, cada niño en su sillita y la bolsa como copiloto, y pusieron rumbo a la lengua de roca que separaba la playa grande de la pequeña.</p><br>

        <p>De camino al mar sonó el manos libres, interrumpiendo un cover del Rey León por parte de Candela.</p><br>

        <p class="dialogo">—Hola, Rubén, me pillas en el coche con los niños, ¿es urgente?</p><br>

        <p class="dialogo">—Hola, Marcos. Acaban de cancelarnos trece reservas más. No sé qué vamos a hacer para sacar esto adelante. Da igual que hayan levantado la cuarentena. Nadie vuela a Mallorca. Nadie se mueve. Vamos a tener que despedir a todo el mundo.</p><br>

        <p class="dialogo">—No te preocupes, tío. Llevo desde las cuatro pensando y creo que tengo una solución. Va, que podemos con esto, te lo prometo. ¿Luego te llamo, vale? Ahora estamos llevando a Clara al mirador.</p><br>

        <p class="dialogo">—No sé cómo tienes ánimo para seguir adelante. Eres increíble, de verdad.</p><br>

        <p class="dialogo">—Capitán Calzoncillos al habla: ¡Luego te llamamos, Rubén!</p><br>

        <p>Aparcaron en la iglesia y bajaron del coche, Marcos con la bolsa de tela en la mano. Las vistas del islote rodeado por las aguas cristalinas de Portals Nous eran espectaculares. Giraron a la izquierda siguiendo el camino de piedra y empezaron a bajar hacia el mirador. El sol les acariciaba la cara. A medida que se acercaban a su destino, el silencio fue apoderándose de los niños.</p><br>

        <p class="dialogo">—Papi, ¿por qué lloras? No llores, no me gusta que llores.—dijo Candela cogiendo a su padre de la mano.</p><br>

        <p>Dejaron atrás el mirador y bajaron a las rocas; ese rincón de paz que Clara tanto amaba.</p><br>

        <p class="dialogo">—Niños, esperadme aquí, por favor. Vengo en dos minutos.</p><br>

        <p>Por toda respuesta, los niños se dieron la mano y esperaron. Su padre dejó la bolsa de tela sobre las rocas y sacó la urna. Una urna de sal, como tú querías, mi amor. Mientras bajaba hacia el agua rememoró el último whatsapp que Clara pudo escribirle antes de que la sedaran, enferma de coronavirus, en la UCI de Son Espases. Había sido una de las primeras médicas en presentarse voluntaria y la segunda en caer enferma:</p><br>

        <p><i>“Marcos, si no salgo de esta, necesito que me prometas dos cosas: 1. Cuida de los niños, por favor. Sé que lo harás. 2. Esta te va a costar más, pero haz el favor de no ser idiota y vuélvete a enamorar, ¿me oyes? Eres genial y te lo mereces. Te quiero con toda mi alma, cariño. Con toda mi alma.”</i></p><br>

        <p>Carlos se arremangó los bajos del pantalón y se metió en el agua. La urna reflejaba los rayos del sol. Bajo la atenta mirada de los Capitanes de la Ropa Interior, y mientras lágrimas mudas y calientes bajaban por sus mejillas, sumergió los restos de la mujer de su vida en el mar que les había visto conocerse.</p><br>

        <p>—Te quiero, Clara. Estaremos bien, te lo prometo.</p><br>

        <p>Y, con estas palabras, dio media vuelta, tomó las manos que le ofrecían sus hijos, y empezaron a subir de vuelta al hogar. Un hogar roto que tardaría años en recuperarse.</p>
    </div>
</main>
