<div class="form">
    <div class="info">
        <p>Si quieres que te avise cuando haya subido unos cuantos relatos puedes dejarme tus datos de contacto en el siguiente formulario. Prometo no utilizar tus datos para absolutamente nada más y prometo no enviar dos millones de e-mails. ¿Te parece bien una vez al mes?</p>
        <img class="imagen" src="/assets/img/LosMundosdeNano/suscribete2.png" alt="">
    </div>    
    <div class="formulario">
        <input type="text" id="nombre" placeholder="Nombre">
        <input type="text" id="apellidos" placeholder="Apellidos">
        <input type="text" id="email" placeholder="Email">
        <input type="text" id="url" placeholder="URL">
        <div class="password">
            <input type="text" id="contrasenya" placeholder="Contraseña">
            <input type="text" id="repiteContrasenya" placeholder="Repite la contraseña">  
        </div>    
    </div>
</div>
