<footer>
    <div class="redes">
        <a href="https://www.instagram.com/losmundosdenano/"><img src="/assets/img/LosMundosdeNano/logoInsta.png" alt=""></a>
        <a href="https://twitter.com/losmundosdenano"><img src="/assets/img/LosMundosdeNano/twitter.png" alt=""></a>
    </div>
    <div class="link">
        <a routerLink="/home"><img src="/assets/img/LosMundosdeNano/@lOSMUNDOSDENANO.png" alt=""></a>
        <a href="" class="contacto"><img src="/assets/img/LosMundosdeNano/contacto.png" alt=""></a>    
    </div>
</footer>
