<main>
    <h1>Diario de un No Papá - Semana 5</h1>
    <div class="central">
       <p>Hola… ¿Cosa?</p><br>

       <p>No, cosa está feo. No puedo llamarte cosa. Pero... ¿Cómo te llamo? ¿Hijo? No, hijo no puede ser, porque no sé si eres niño o niña y, claro, no tienes nombre, porque tienes cinco semanas y no tenemos ni puta idea de qué hacer contigo. No estoy preparado para esto. Creo que mides dos o tres centímetros, así que me pongo como límite diez centímetros para llamarte de alguna manera.</p><br>

       <p>Esto es un desastre... Me estoy poniendo nervioso y creo que cuando leas esto no te vas a enterar de nada.</p><br>

       <p>Igual debería empezar por el principio.</p><br>

       <p>Sí, eso es: voy a empezar por el principio.</p><br>

       <p>Vamos a ver, me llamo Tià y tengo veintiocho años. Soy de Mallorca y llevo toda la vida viviendo aquí (con alguna escapadita a otros sitios, como cuando estudié en Barcelona, pero mi casa siempre ha sido la isla). Estoy muy enamorado de mi novia, que se llama Martina y es maravillosa, y hasta hace poco teníamos una vida normal de pareja normal. Recalco lo de normal, por si no había quedado claro. ¿Qué quiero decir con esto? Pues que salíamos a cenar, a dar una vuelta con los amigos, hacíamos muchos viajes de surf —porque nos gusta mucho el surf— y disfrutábamos de los pequeños placeres de la vida. Sin presiones, sin dolores de cabeza. Es una vida que mola, ¿sabes, Pulgarcito?</p><br>

       <p>Igual te voy a llamar así: Pulgarcito. Pero ya me estoy contradiciendo, porque no creo que hayas crecido siete centímetros en lo que he tardado en escribir esto, y he dicho que iba a esperar hasta que midieras diez centímetros.</p><br>

       <p>Bueno, sigo con la historia: hace unos dos años Martina y yo nos compramos, con mucho esfuerzo, un pisito pequeño en una pedanía de Palma que se llama El Molinar. Es un sitio muy tranquilo, aunque ahora se está poniendo de moda y esto está esto lleno de gente a todas horas, así que igual me compro un rifle de francotirador y me dedico a abatir turistas desde la azotea —¡100 puntos por el de los calcetines hasta los sobacos!—. El piso tiene una terraza maravillosa que huele a mar y donde tomamos café casi todas las mañanas que no hace un frío del carajo. Después del café nos vamos a trabajar. Yo trabajo como ingeniero para una pequeña constructora y Martina es profesora de educación física en un instituto en Porreras, que es un pueblo de Mallorca que está a tomar por saco de casa, la verdad.</p><br>

       <p>Pues bien, Martina y yo llevamos juntos muchos años, creo que diez, pero no estoy seguro —y no se lo pienso preguntar— y desde hace un par de años tenemos una vida estable, con sueldos decentes y, como tenemos comida, agua y techo, tenemos tiempo de pensar en cosas no vitales. Cosas no vitales como, por ejemplo, ser padres. Padres. Sí, eso que hasta hace poco eran los míos. Que para eso están, coño, para ser padres. Yo no estoy para ser padre; yo estoy para tocar la guitarra, beber cerveza y abatir guiris desde la azotea. Ahora mis padres van a ser abuelos. Y mis padres eran padres, no abuelos. Abuelos eran mis abuelos, que para eso eran abuelos. Esto es un cristo y no termino de verlo claro, por eso he decidido llamar a este diario El diario de un No Papá. Así, contradiciéndome.</p><br>

       <p>Pero bueno, que me despisto. La cuestión es que en nuestro último viaje de surf a Lanzarote con otra pareja de amigos, el pasado diciembre, nos planteamos aquello de… ¿Y para cuando un bebé? Ahora es buen momento, claro, porque somos jóvenes, y tenemos estabilidad, tiempo, dinero. Claro, ahora es el momento perfecto.</p><br>

       <p>Es un momento maravilloso.</p><br>

       <p>Claro.</p><br>

       <p>Perfecto.</p><br>

       <p>Estábamos tranquilos cuando decidimos que Martina podía dejar de tomar anticonceptivos. Total, no tiene por qué pasar ya, ¿no? Que va, cariño, si los dejas de tomar ahora tardaremos unos meses, o quizá un año, y así nos dará tiempo a hacernos a la idea. Seguro que siguen haciendo efecto un tiempo.</p><br>

       <p>Tres semanas. Tres putas semanas.</p><br>

       <p>Francotiradores de élite. Eso es lo que somos. La primera regla de Martina ya no vino. Maravilloso. No te preocupes, igual se retrasa un poco. Claro, cariño, igual se ha retrasado. No pasa nada, ¿no? Claro que no, claro que no.</p><br>

       <p>Vómitos.</p><br>

       <p>Hostia, vaya indigestión has cogido, cariño.</p><br>

       <p>Pues va a ser que no.</p><br>

       <p>Me acordaré toda mi vida del momento mágico que cambió nuestro mundo para siempre. Hacía un día que te cagas: cielo azul, ni una nube, brisa acariciándonos la cara. Pero no notábamos nada, no teníamos la cabeza para admirar las maravillas meteorológicas. Fuimos los dos juntos a la farmacia como si fuéramos a robar un banco. Girábamos la cabeza al más mínimo ruido. La gente sabía lo que íbamos a buscar, lo llevábamos escrito en la frente. Éramos dos furtivos haciendo una incursión prohibida.</p><br>

       <p class="dialogo">—Son nueve con noventa, por favor.</p><br>

       <p>Pagué el test de embarazo con la tarjeta de Martina, que seguía mareada como un niño en un velero, porque me había olvidado la cartera. Y vuelta para casa.</p><br>

       <p class="dialogo">—¿Entro contigo?—le decía yo.</p><br>

       <p class="dialogo">—Yo que sé, Tià, haz lo que te dé la gana. Voy a vomitar otra vez. Quita, quita.</p><br>

       <p>Positivo. Una crucecita azul en el ClearBlue que tardó en aparecer como un segundo y medio. Tres minutos ponía en las instrucciones. Mentirosos.</p><br>

       <p>Madre mía qué cara se nos quedó. Hasta que no te pase no sabrás lo que es. ¿Y ahora qué hacemos? Bueno, lo resumiré rápido: ginecólogo, jornada de reflexión, vómito, ginecólogo, risas flojas, ¿será un pedo atravesado?, vómito y así hasta hoy.</p><br>

       <p>Ahora estamos en la semana cinco —hace dos que hicimos el test— y he decidido escribir este diario porque creo que me va a ayudar a asimilar toda la información, y porque creo que puede ser muy divertido que tú, como quiera que te llames, recibas este diario cuando seas mayor. Algo así como el libro de tu gestación. Joder, qué feo suena.</p><br>

       <p>He puesto algunas normas:</p><br>

       <p class="normas">1. No te voy a dar el diario hasta que tú no vayas a ser madre, o padre, o lo que sea. Porque si te lo doy siendo niño, no te vas a enterar de nada, y si te lo doy siendo adolescente, te vas a cagar de la vergüenza. Así que esperaré.</p><br>

       <p class="normas">2. Voy a escribir una vez a la semana a no ser que pase algo muy gordo.</p><br>

       <p class="normas">3. Martina, o mamá (¿mamá? Me entran escalofríos solo de escribirlo), también puede escribir cuando quiera.</p><br>

       <p>Bueno, estas son las normas. Aunque, como es mi diario, igual las cambio cuando me dé la gana. Ya veremos, que no razono muy bien desde que sé que vamos a ser padres.</p><br>

       <p>Voy a ver a Martina, que está hecha un moco por tu culpa, aunque no lo sepas.</p><br>

       <p>¡Hasta la semana que viene!</p>





    </div>
</main>
