<div class="central">
    <div class="profile">
        <div class="user">
            <div class="imagen">
                <img src="{{userService.user.photo}}" alt="">
            </div>
            <div class="me">
                {{userService.user.name_user}} {{userService.user.last_name_user}}
            </div>
            <div class="form">
                Nombre <div>{{userService.user.name_user}}</div>
                Apellido<div>{{userService.user.last_name_user}}</div>
                Email<div>{{userService.user.email}}</div>   
            </div>
        </div>
        <div class="newUser">
            <div class="editar">Editar datos</div>
            <div class="datosUser">
                <input type="text" id="name" #name placeholder="Nombre">
                <input type="text" id="surname" #surname placeholder="Apellido">
                <input type="text" id="email" #email placeholder="Email">
                <input type="text" id="url" #url placeholder="Url">
                <button type="button" class="modificar" (click)="info(name,surname,email,url)">Modificar</button>
            </div>
        </div>
    </div>   
</div>