<main>
    <h1>Pim, Pam y Pum. Carta 2: Pulso electromagnético Gamma</h1>
    <div class="central">
        <p>Apreciados Gilipollas,</p><br>

        <p>De nuevo Pim os escribe. Como prometí, vengo aquí a actualizaros sobre la situación en la que nos encontramos.</p><br>

        <p>Ante todo y para que quede bien claro: celebro que estéis sufriendo indecibles quebraderos de cabeza, pero no me alegro de las bajas que están ocurriendo en vuestras filas. Esta decisión era necesaria, pero nadie dijo que iba a ser fácil.</p><br>

        <p>La carta viene sin correcciones porque Pam está liderando un destacamento de orcas para inutilizar todos vuestros pozos petrolíferos en el Golfo de México, que no son pocos, por cierto. Así que me he permitido hacer lo que me dé la gana.</p><br>

        <p>Como prometimos, hace un mes activamos el pulso electromagnético gamma y ya lleváis cuatro semanas exactas sin que vuestros vehículos funcionen. Ninguno de ellos. Ni los coches, ni lo que llamáis autobuses, ni motocicletas, ni aviones, ni camiones, ni siquiera vuestros preciados patinetes eléctricos. Y, aprovechando la mención, voy a haceros una reflexión para que veáis el caos que traéis a La Tierra: ¿De verdad os habéis tragado toda esa propaganda de que los patinetes son (bueno, eran, JAJAJA) mejores para el medio ambiente? ¿Qué uso le estabais dando a los maravillosos patinetes?</p><br>

        <p>Os dejo pensar.</p><br><br>

        <p>Bien… En principio, el concepto estaba bien: Vehículos más ligeros (aunque… ¿Cómo estaban fabricados?), propulsados por baterías (que ya discutiremos sobre ellas), que no emitían gases de efecto invernadero al funcionar y que podían ser cargados con energía “limpia” (también hablaremos sobre esto). Suena bien, ¿Verdad? Ahora os voy a explicar qué pasa si añades a los humanos a la receta:</p><br>

        <p class="centrado"><strong>Buena idea + humanos = Buena idea que no sirve para nada.</strong></p><br>

        <p>¿Qué hicisteis con los patinetes? Dejar de caminar. Así de simple. Trayectos que antes cubríais andando con cero emisiones y mejorando vuestra salud, pasasteis a hacerlos en patinetes que contaminan. Ahí tenéis el ingrediente estrella de vuestra inutilidad.</p><br>

        <p>Pero bueno, sigo a lo mío, que me vuelvo a despistar. En esta carta os quiero dejar tres de los muchos reportes que hemos recibido de diferentes puntos del globo y que espero reflejen la situación en la que os encontráis. No hemos corregido los reportes. Nunca lo hacemos, aunque esta vez me ha costado contenerme.</p><br><br><br>

        <div class="reportes">
            <p>REPORTE 3419</p>
            <p>INFORMANTE: <span class="pum">PUM</span></p>
            <p>FECHA: <span class="pum">Un mes después de activación de pulso electromagnético gamma.</span></p>
            <p>LOCALIZACIÓN: <span class="pum">Observatorio del Puente de Brooklyn, <s>Jamón de</s> Nueva York.</span></p><br>

            <div class="pum">
                <p>Aquí Pum, purrum pum pum, informando ando ando. Hase frío aquí, mi hermano guapo y cansiller Pim, pirrim pim pim. Ya me paro, ya me paro… aro aro aro… jejej</p><br>

                <p>Los humanos son tontos, hermano. Desde que se han quedado sin vehículos, Manhattan es un auténtico caos y están todos tristes. Las primeras dos semanas nadie fue a trabajar. Los camiones dejaron de llegar con comida y, claro, como están acostumbrados a tener de todo en cualquier momento, la gente no sabía qué hacer. Hubo muchas peleas por lo que quedaba en los supermercados. Yo lo miraba todo desde el observatorio que tenemos aquí en el puente y la verdad es que me ponía un poco triste. Pero luego me comía unas cuantas gambas y ya me ponía contento. Además, ya no me duelen las quemaduras ni el chichón y estoy súper bien.</p><br>
    
                <p>He estado mirando los indicadores de contaminación de nuestra base aquí y están bajando muchísimo. Los bobos estos no se dan cuenta, pero el aire que respiran es cada vez mejor para ellos y ya no van a tener tanto cáncer. Además, como tienen que caminar sí o sí, empiezan a estar más delgados, aunque siguen estando gordísimos (mucho más que yo. Tú lo sabes eh, ¿A qué sí? Porque eres mi hermano favorito y guapo y fuerte).</p><br>
    
                <p>El informante Pum volverá a enviar reporte en unas semanas, anas anas, porque ahora tiene sueño y se va a dorm…gdshslnjvuffjlngytuerrfdjkseri//*</p><br>
    
                <p class="pim">*Aquí tuvimos que cortar el reporte porque eran cuatro páginas sin ningún sentido.</p><br><br>        
            </div>

            <p>REPORTE 3433</p>
            <p>INFORMANTE: <span class="worryman">WORRYMAN</span></p>
            <p>FECHA: <span class="worryman">Un mes después de activación de pulso electromagnético gamma.</span></p>
            <p>LOCALIZACIÓN: <span class="worryman">Palma de Mallorca, España.</span></p><br>

            <div class="worryman">
                <p>Aquí informante Worryman desde Palma de Mallorca, en España.</p><br>

                <p>La situación aquí es crítica. Miles de personas han iniciado disputas severas por hacerse con las últimas reservas de combustible. La gente se ha atrincherado en sus casa e incuso ha llegado a haber alguna pelea con heridos graves. Los recursos de la isla son limitados, especialmente la comida. Ya no va a llegar nada ni por mar ni por aire y el mar está excesivamente explotado. Pueden usar sus embarcaciones a vela, pero son mucho más lentas y no están acostumbrados a esperar. Sin sus barcos a motor son incapaces de sacar el rendimiento que necesitan de los recursos marinos (cosa de la que me alegro profundamente).</p><br>

                <p>Solo en este mes he visto más vida marina que en los últimos cien años. El otro día me encontré con un grupo de tortugas y confirmaron que no habían perdido a ningún miembro del grupo arrollado por una lancha motora. Por fin habían podido nadar a gusto. Se estaban planteando si volver a desovar a Formentera, pero tienen miedo y parece que, por ahora, van a disfrutar de su recuperada libertad.</p><br>

                <p>El gobierno ha tomado el control del centro de la isla, donde tienen tierra suficiente para cultivar. Han hacinado a los que ellos llaman turistas (humanos crecidos en otras partes del globo) en el norte de la isla y los tratan con desprecio, pues no hablan su idioma, y les dan muy poca comida. Seguiré observando su comportamiento.</p><br>

                <p>Informante worryman volverá a escribir en unas semanas. Que la prosperidad de los mares sea con vosotros.</p><br><br>
            </div>

            <p>REPORTE 3433</p>
            <p>INFORMANTE: <span class="skully">SKULLY</span></p>
            <p>FECHA: <span class="skully">Un mes después de activación de pulso electromagnético gamma.</span></p>
            <p>LOCALIZACIÓN: <span class="skully">Dubái, Golfo Pérsico, Emiratos Árabes Unidos.</span></p><br>

            <div class="skully">
                <p>Aquí informante Skully desde el Golfo Pérsico, concretamente desde nuestra base en la Palmera Jumeirah (construcción artificial de origen humano sobre el lecho marino del Golfo Pérsico).</p><br>

                <p>No sé con qué palabras describir lo que estamos viviendo aquí. Sin sus vehículos, la gente no sale de sus casas porque el calor es insoportable. Yo misma estoy sufriendo severos contratiempos para mantener mi temperatura corporal en estas aguas hirvientes (gracias Canciller Pim por el traje refrigerador). Los primeros en caer están siendo los trabajadores de la construcción, que viven en condiciones infrahumanas y a los que se obliga a seguir trabajando aunque tengan que ir andando a sus puestos de trabajo. Me recuerda a los informes que tenemos guardados en los sistemas informáticos y que hacen referencia a la situación de los humanos en la costa africana hace varios siglos. Un desastre.</p><br>

                <p>El fallo en el transporte ha sido letal aquí, pues a los problemas de abastecimiento hay que sumar la caída progresiva de las redes de telecomunicaciones. Aunque están consiguiendo reparar parcialmente las caídas, no parece que sin sus vehículos puedan mantenerlo mucho más tiempo. La situación va a empeorar.</p><br>

                <p>Informante Skully volverá a conectarse en unas semanas.</p><br>

                <p>Salud y buen nado, Canciller.</p><br><br>
            </div>
        </div>
        <p>Bien, ya habéis visto los reportes. Las cosas se están poniendo difíciles. Ahora es cuando podéis sacar lo mejor de vosotros y conseguir hacer de nuestro mundo un lugar mejor. Podéis hacerlo, pero debéis superar el miedo, el rechazo a vuestros semejantes y el ego.</p><br>

        <p>Os volveremos a escribir en unas semanas para informaros sobre la incursión de Pam al Golfo de México y para daros nuevos reportes de situación.</p><br>

        <p>Atentamente,</p><br>

        <div class="firma">
            <p>Pim,</p>
            <p>Canciller de los Pingüinos Árticos</p>
            <p>Isla de Ellesmere</p>
        </div>      
    </div>
</main>
