main{
    height: 140vh;
}
.central{
    max-width: 1270px;
    margin:0 auto;
    display:flex;
    flex-direction: column;
    margin-top:15px;
    align-items: center;
    height: 100%;
}
.registro{
    width: 70%;    
}