<main>
    <h1>Memorias de un Androide: el ataque de Kalifroster</h1>
    <div class="central">
        <p>Mi cabeza daba vueltas dentro de la lavadora otra vez. Otra maldita vez. ¿Por qué Kalifroster encontraba tan divertido martirizarme?</p><br>

        <p class="dialogo">— ¡KALIFROSTER! ¡Ingenio del infierno! ¡Ven aquí y apaga la condenada lavadora!</p><br>

        <p>Aquel gremlin robótico iba a acabar con mi pobre vida de androide. Desde que los inventaron en 2098 y mi amo se compró uno yo no había vuelto a cargarme tranquilo. Ciento doce años de mala vida. Ciento doce. ¡Por todos mis circuitos! ¿No era suficiente ya?</p><br>

        <p><em>PLON-PLON-PLON</em>. Venga a dar vueltas... ¡Qué cruz! ¿Para qué los programaban con tan mala leche? Vale que eran graciosos: Que si <em>tecno-pedos</em> en ascensores, que si volaban y robaban la ropa interior de los vecinos, que si pastillas de <em>súper-sopa pescado potente</em> dentro de la alcachofa de la ducha… Y pensar que la gente los compró porque hacían las mejores tartas de merengue del mundo. En fin, nadie previó su mala uva.</p><br>

        <p>Kalifroster, lógicamente, no vino. <em>PLON-PLON-PLon-clon…-plon</em>… Por fin había parado la lavadora.</p><br>

        <p>Conseguí hacer llegar mi cuerpo desde la cocina (donde me cargaba y donde Kalifroster me había robado la cabeza) hasta la lavandería, no sin antes pisar dos cacas de gato, tirar una silla, chocarme con el marco de la puerta y meter una pierna en el cubo de la basura. Me llevó 5 minutos, 3 segundos y 2 mili segundos que mi descabezado cuerpo diera con la maneta de la lavadora. Tras tirar la cesta de las <em>auto-pinzas</em> y el bote de <em>mega-detergente</em> (que llegó hasta la puerta de la terraza), logré abrirla y coger mi propia cabeza.</p><br>

        <p><em>CLACK-CLACK</em>. Cabeza en su sitio.<em> PIPIPIPIPIIII</em>. Chequeo de conexiones. Todo en orden, aunque mis drenajes iban a estar horas ocupados. Vuelta al centro de carga y: ¡Oh! ¡Sorpresa! Había desaparecido. Solo se oía la estridente risa de Kalifroster mientras volaba escaleras arriba.<em>“</em>¡AARG! ¡Te voy a descuartizar, Gremlin del demonio!”<em>. </em>Esta vez no se iba a librar tan fácilmente.</p><br>

        <p></p>
    </div>
</main>