@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
/* font-family: 'Dancing Script', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
/* font-family: 'Lato', sans-serif; */

:root{
    --rosaLogo: #ffccf9;
    --azulLogo: #affcff;
    --azulNav:#dfe3ee;
    --amarilloLogo: #fff5ba;
    --letraLogo: #160744;
}
main{
    height:80vh;
}
.central{
    height: 100%;
    max-width: 1270px;
    margin:0 auto;
    display:flex;
    flex-direction: row;    
    align-items: center;
}
.saludo{
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    margin:0;
    padding: 0;
}
    .central img{
        
        width: 30%;
    }
    .titulo{
        font-family: 'Dancing Script', cursive;
        font-size: 70px;
        text-align: center;
        color: var(--letraLogo);
    }
    .yo{
        
        font-family: 'Lato', sans-serif;
        margin:20px;        
        text-align: justify;
        font-size: 15px;
    }
        .negrita{
            font-weight: bold;
            color:var(--letraLogo)
        }

        p{
            margin:10px;
            padding:0
        }