<main>
    <div class="central">
        <img src="/assets/img/LosMundosdeNano/logo.png" alt=""> 
        <div class="me">
            <p>¡Hola!</p>
            <p>Si has llegado hasta aquí me gustaría mucho darte las gracias.</p>
            <p>Ahora, te dejo aquí unas líneas sobre qué son Los Mundos de Nano:</p>
            <p>Como te habrás imaginado, me llamo Nano y este es uno de mis proyectos personales. He abierto esta web/blog porque hace unos años decidí cumplir uno de mis sueños: aprender a contar historias. Siempre me ha encantado leer y muchas veces me había planteado escribir algo, incluso alguna vez lo había intentado, pero siempre acababa encontrando alguna excusa para no hacerlo o para no compartir lo que escribía. Pero bueno, que me despisto, sigo con mi libro (¡nunca mejor dicho!); por aquel entonces (hace unos años, por si nos hemos perdido) vivía en Barcelona y decidí apuntarme a un curso para aprender a escribir novelas.</p>
            <p>Después de completar unos cuantos módulos en el Laboratori de Lletres sigo sin tener mucha idea (no por el Laboratori, ¡ellos hacen un trabajo excelente!), pero aun así he decidido crear esta pequeña web para compartir con el mundo lo que escribo y que me ayudéis a entender si he aprendido a contar historias. O si no </p>
            <p>No sé con qué frecuencia escribiré aquí, no sé sobre qué escribiré, ni sé cuánto me va a costar publicarlo. Tengo varios cuentos o relatos cortos escritos y ahora mismo estoy intentando escribir esa novela que me prometí a mí mismo, pero vamos despacito y con cariño. Poco a poco iré subiendo aquí mis cositas, todo lo que tiene que ver con los mundos que he creado y que quiero seguir creando.</p>
            <p>¡Espero que te guste mucho lo que encuentres!</p>
            <p>Un abrazo,</p>
            <p>Nano.</p>
        </div>
    </div>
   
</main>
