@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
/* font-family: 'Dancing Script', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
/* font-family: 'Lato', sans-serif; */

:root{
    --rosaLogo: #ffccf9;
    --azulLogo: #affcff;
    --azulNav:#dfe3ee;
    --amarilloLogo: #fff5ba;
    --letraLogo: #160744;
}
.central{
    max-width: 1270px;
    margin:0 auto;
}
    .titulo{
        font-family: 'Dancing Script', cursive;
        font-size: 70px;
        text-align: center;
        color: var(--letraLogo);
    }
    .me{
        font-family: 'Lato', sans-serif;
    }