<main>
    <h1>La patrulla Águila: El inicio.</h1>
    <div class="central">
        <p><strong>EL ANTES</strong></p><br>

        <p>Carlos entró a todo correr por la puerta del hospital. El ramo de margaritas, las favoritas de María, se bamboleaba peligrosamente en su mano derecha, que también sujetaba, entre pulgar e índice, una caja de bombones Nestlé medio fundidos. Eran los favoritos de María (Cuando estaban enteros, claro…). Carlos no pudo evitar una sonrisa.</p><br>

        <p>Subió las escaleras de dos en dos. Habitación 324, venga, queya llegas, Carlitos. Voló por el pasillo del tercer piso. Derrape en la esquina. Buenos días, señorita, sonrió a una enfermera que le miraba con cara de pocos amigos. Llegando a la puerta vio a Albert, el hermano de María. Abrazo. Están todos bien, Carlos, ha ido todo perfecto.</p><br>

        <p>Entró en la habitación y vio a María con Fernando, su marido. Ambos sonreían a una bolita envuelta en mantas de color blanco. Entraba luz a raudales por el enorme ventanal y Joan, que así se llamaba la bolita envuelta en mantas, movía, despacio, los michelines que tenía por bracitos. A los pies de la cama estaban Maruja y Javier, los padres de Fernando. Más abrazos y sonrisas, lágrimas de felicidad. Gracias por venir tan rápido, Carlos, estás loco.</p><br>

        <p>María había sido madre, estaban todos bien, y Clara y él habían tomado la decisión de volver a Mallorca con su propia familia. En tres días llegaban Nachete y Clara desde California, por fin.</p><br>

        <p>María y Carlos se sientan en un banco del paseo marítimo de la Calita. Hace un día maravilloso de mayo, los guiris todavía no han llegado y la brisa les acaricia la cara. Huele a mar, a su infancia. Joan y Nachete juegan desnudos en la playa (Emulando, sin saberlo, a sus padres unos años atrás). Ya están tan morenos que parecen cubanos. Corren, ríen, saltan y chapotean. De repente se sientan en la orilla y, desde lejos, se les ve gesticular y charlar. ¿De qué estarán hablando?, pregunta María con una sonrisa. No lo sé, pero sería bonito pintar esta escena, espero que Nachete y Joan sean amigos muchos años.</p><br><br>

        <p><strong>EL DESPUÉS</strong></p><br>

        <p class="dialogo">—Aquí Águila Verde contactando a Águila Roja. Por favor, conteste, repito: conteste. Iniciamos incursión a base enemiga en Bosque Oscuro y necesitamos apoyo.</p><br>

        <p>Nachete, agazapado tras la barricada indestructible que había construido con ramas y piñas, asoma la cabeza cubierta por el casco de Águila Roja, el casco de la luz y la visión. Ve a Joan, o Águila Verde para aquella misión, deslizándose poco a poco hacia el Bosque Oscuro. Águila Verde no se da cuenta de que están rodeándole los Bárboles, porque solo Águila Roja tiene el poder de la visión.</p><br>

        <p class="dialogo">—¡Cuidado, Águila Verde! Los Bárboles te rodean, ¡Van a atacar!</p><br>

        <p>Joan siente el miedo, se queda paralizado. Nota la humedad de la tierra a través de la ropa. ¡No! ¡Los malignos Bárboles no! ¿Cómo puede defenderse de ellos si no puede verlos? ¿Qué puede hacer para escapar? ¡Oh, no! Éste va a ser mi final, estoy perdido…</p><br>

        <p>Entonces ocurre.</p><br>

        <p>Joan (o lo que queda de él) percibe cómo el suelo empieza a temblar y gira la cabeza. No puede creer lo que está viendo. Águila Roja sale de la barricada casi volando y deja la base abandonada. Corre como nunca lo había hecho, salta por encima de Joan y se enzarza en una lucha encarnizada con el primer Bárbol que encuentra. Un rayo de luz se filtra entre las altas ramas del bosque e ilumina a Águila Roja, que está imparable frente a los Bárboles. Entonces Joan entiende que su amigo le necesita y, por fin, nota el poder del casco verde, el poder de la fuerza y la rapidez. El miedo desaparece, siente el fuego en su interior, se levanta de un salto mágico ya convertido en Águila Verde y, junto con Águila Roja, plantan batalla a los malignos Bárboles. Cada vez hay más y la lucha va a ser larga y dura.</p><br>

        <p>Desde la cocina, Carlos y María degustan un maravilloso tinto y miran a los niños que, equipados con sendos cubos de playa en la cabeza (uno rojo y uno verde), pelean contra el olivo que Carlos plantó en medio del jardín. Por las caras feroces que ponen parece que la batalla está encarnizada.</p><br>

        <p>Fernando y Clara, tumbados en dos butacas al sol, saborean sus copas de vino mientras picotean queso mahonés y charlan de la vida. El follón de la batalla contra los Bárboles se mezcla con una suave música de fondo y la estampa general es casi perfecta.</p><br>

        <p>María contempla la escena y no puede evitar sonreír y pensar que, si su padre estuviera todavía allí con ellos, sería la persona más feliz del mundo. Empieza a entender esa frase maravillosa que su padre repetía a menudo: “María, la felicidad está en las pequeñas cosas”. María mira a los niños, siente el sol en la cara, saborea el tinto en el paladar, siente la presencia de sus amigos y de su familia… Y piensa que papá tenía toda la razón del mundo. Sí señor, papá, la felicidad está en las pequeñas cosas. Gracias por hacerme así.</p><br>

        <p>María le da su copa a Carlos, coge el cubo de la fregona (de color amarillo pollo) y, mientras se lo pone en la cabeza, nota cómo el poder de la agilidad y el vuelo fluye a través de sus venas.</p><br>

        <p clas="dialogo">—¡Águila Amarilla al rescate! ¡Aguantad, compañeros, los Bárboles no podrán con nosotros! ¡¡¡A la batallaaaaaaaaaaaaa!!!</p>



    </div>
</main>
